{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block nav_carnet %} class="active"{% endblock %}
{% block title %}Mon carnet{% endblock %}
{% block jumbotron_titre %}Carnet{% endblock %}
{% block jumbotron_contenu %}
    Consultez ici vos recettes préférées et gérez les !
{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Mon carnet</li>
{% endblock %}

{% block contenu %}
    <div class="row">
         <ul class="pagination">
            {% if fiches.has_previous %}
                <li><a href="?page={{ fiches.previous_page_number }}">Précédent</a></li>
            {% endif %}

            <li class="disabled"><a href="#">Page {{ fiches.number }} sur {{ fiches.paginator.num_pages }}</a></li>

            {% if fiches.has_next %}
                <li><a href="?page={{ fiches.next_page_number }}">Suivant</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <div class="blog">
            {% for fiche in fiches %}
                <div class="col-sm-4">
                    <div class="blog-item">
                        <img class="img-responsive img-blog" src="/{{ STATIC_URL }}{{ fiche.recette.photo.url }}" alt=""/>
                        <div class="blog-content">
                            <h3>{{ fiche.recette.titre }}</h3>
                            <div class="entry-meta">
                                Note :
                                {% if fiche.recette.nb_notes == 0 %}
                                    Aucune pour le moment.
                                {% else %}
                                    {{ fiche.recette.note }}
                                {% endif %}
                                <br />{{ fiche.recette.nb_commentaires }} commentaire{% if fiche.recette.nb_commentaires > 1 %}s{% endif %}
                                {% if fiche.remarque != '' %}
                                    <p><strong>Remarque personelle</strong> : {{ fiche.remarque }}</p>
                                {% endif %}
                            </div>
                            <a class="btn btn-default" href="{% url 'recette:voir' fiche.recette.slug %}">Consulter <i class="icon-angle-right"></i></a>
                            <a class="btn btn-primary" href="{% url 'carnet:modifier_fiche' fiche.id %}">Modifier</i></a>
                            <a class="btn btn-danger" href="{% url 'carnet:supprimer_fiche' fiche.id %}">Supprimer</i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
         <ul class="pagination">
            {% if fiches.has_previous %}
                <li><a href="?page={{ fiches.previous_page_number }}">Précédent</a></li>
            {% endif %}

            <li class="disabled"><a href="#">Page {{ fiches.number }} sur {{ fiches.paginator.num_pages }}</a></li>

            {% if fiches.has_next %}
                <li><a href="?page={{ fiches.next_page_number }}">Suivant</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}