{% extends '_base.html' %}
{% load widget_tweaks %}

{% block title %}Connexion au site{% endblock %}
{% block nav_utilisateurs %} active{% endblock %}
{% block jumbotron_titre %}Connexion{% endblock %}
{% block jumbotron_contenu %}Pour profiter pleinement des fonctionnalités du site, connectez-vous !{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Connexion au site</li>
{% endblock %}

{% block contenu %}

<form class="center" method="post" action="">
    <fieldset class="registration-form">
        <div class="form-group">
            {% render_field formulaire.nom class+='form-control' placeholder='Nom utilisateur' %}
        </div>
        <div class="form-group">
            {% render_field formulaire.password class+='form-control' placeholder='Mot de passe' %}
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-md btn-block" type="submit">Connexion</button>
        </div>
    </fieldset>
    {% csrf_token %}
</form>

{% endblock %}