{% extends '_base.html' %}
{% load widget_tweaks %}
{% block title %}Inscription au site{% endblock %}
{% block nav_utilisateurs %} active{% endblock %}
{% block jumbotron_titre %}Inscription{% endblock %}
{% block jumbotron_contenu %}Pas encore inscrit sur le site ? Inscrivez-vous, c'est rapide !{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Inscription au site</li>
{% endblock %}

{% block contenu %}

<form method="post" action="{% url 'utilisateurs:inscription' %}" class="center">
    <fieldset class="registration-form">
        <div class="form-group">
            {% render_field formulaire.nom class+='form-control' placeholder='Nom utilisateur' %}
        </div>
        <div class="form-group">
            {% render_field formulaire.email class+='form-control' placeholder='Adresse e-mail' %}
        </div>
        <div class="form-group">
            {% render_field formulaire.password class+='form-control' placeholder='Mot de passe' %}
        </div>
        <div class="form-group">
            {% render_field formulaire.passwordConfirmation class+='form-control' placeholder='Confirmation' %}
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-md btn-block">Inscription</button>
        </div>
    </fieldset>
    {% csrf_token %}
</form>

{% endblock %}