{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block nav_carnet %} class="active"{% endblock %}
{% block title %}Ajouter à mon carnet{% endblock %}
{% block jumbotron_titre %}Carnet{% endblock %}
{% block jumbotron_contenu %}
    Ajoutez une recette à votre carnet afin qu'elle figure parmi vos favoris !
{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Ajouter une recette au carnet</li>
{% endblock %}

{% block contenu %}
    <form method="POST" action="{% url 'carnet:ajouter_fiche' recette.slug %}">
        <div class="form-group">{% render_field formulaire.remarque class+='form-control' placeholder='Vous pouvez ajouter ou non une remarque sur cette recette' %}</div>
        <button class="btn btn-primary" type="submit">Ajouter</button>
        {% csrf_token %}
    </form>
{% endblock %}