{% extends '_base.html' %}
{% load widget_tweaks %}
{% block title %}Modifier une fiche recette du carnet{% endblock %}
{% block jumbotron_titre %}Modifier une fiche{% endblock %}
{% block jumbotron_contenu %}Mettez à jour les remarques concernant les recettes quand vous le souhaitez pour la faire évoluer à votre goût !{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Modifier une fiche recette du carnet</li>
{% endblock %}

{% block nav_carnet %} class="active"{% endblock %}

{% block contenu %}
    <div class="panel panel-default col-sm-8 col-sm-offset-2"">
    <div class="panel-body">
    <div class="">
        <form method="post" action="{% url 'carnet:modifier_fiche' fiche.id %}" onsubmit="return confirm('Voulez-vous vraiment modifier cette fiche recette ?')">
            <div class="form-group">
                {% render_field formulaire.remarque class+='form-control' placeholder='Remarque' %}
            </div>

            <button type="submit" class="btn btn-block btn-primary btn-lg">Modifier</button>

            {% csrf_token %}
        </form>
    </div></div></div>
{% endblock %}