{% extends '_base.html' %}
{% load widget_tweaks %}
{% block title %}Ajouter une recette{% endblock %}
{% block jumbotron_titre %}Ajouter une recette{% endblock %}
{% block jumbotron_contenu %}Ajoutez dès maintenant votre recette pour en faire profiter tout le monde !{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Ajouter une recette</li>
{% endblock %}

{% block nav_ajouter_recette %} class="active"{% endblock %}

{% block contenu %}
    <div class="panel panel-default col-sm-8 col-sm-offset-2"">
    <div class="panel-body">
    <div class="">
        <form method="post" action="{% url 'recette:ajouter' %}" enctype="multipart/form-data">
            <div class="form-group">
                {% render_field formulaire.titre class+='form-control' placeholder='Titre' %}
            </div>

            <div class="form-group">
                {{ formulaire.type.label_tag }}
                {% render_field formulaire.type class+='form-control' placeholder='Type' %}
            </div>

            <div class="form-group">
                {{ formulaire.difficulte.label_tag }}
                {% render_field formulaire.difficulte class+='form-control' placeholder='Difficulté' %}
            </div>

            <div class="form-group">
                {% render_field formulaire.cout class+='form-control' placeholder='Coût' %}
            </div>

            <div class="form-group">
                {{ formulaire.photo.label_tag }}
                <input id="photo" type="file" name="photo_recette"/>
            </div>

            <div class="form-group">
                {% render_field formulaire.temps_preparation class+='form-control' placeholder='Temps de préparation (en min)' %}
            </div>

            <div class="form-group">
                {% render_field formulaire.temps_cuisson class+='form-control' placeholder='Temps de cuissons (en min)' %}
            </div>

            <div class="form-group">
                {% render_field formulaire.temps_repos class+='form-control' placeholder='Temps de repos (en min)' %}
            </div>

            <div class="form-group">
                {% render_field formulaire.ingredients class+='form-control' placeholder='Ingrédients' %}
            </div>

            <div class="form-group">
                {% render_field formulaire.etapes class+='form-control' placeholder='Etapes' %}
            </div>

            <button type="submit" class="btn btn-block btn-primary btn-lg">Ajouter</button>

            {% csrf_token %}
        </form>
    </div></div></div>
{% endblock %}