{% extends '_base.html' %}

{% block title %}Accueil recettes{% endblock %}
{% block nav_accueil %} class="active"{% endblock %}
{% block jumbotron_titre %}Accueil{% endblock %}
{% block jumbotron_contenu %}Bienvenue sur la page d'accueil ! Ici vous pourrez consulter les dernières recettes ajoutés{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Dernières recette</li>
{% endblock %}

{% block contenu %}
    <div class="row">
         <ul class="pagination">
            {% if recettes.has_previous %}
                <li><a href="?page={{ recettes.previous_page_number }}">Précédent</a></li>
            {% endif %}

            <li class="disabled"><a href="#">Page {{ recettes.number }} sur {{ recettes.paginator.num_pages }}</a></li>

            {% if recettes.has_next %}
                <li><a href="?page={{ recettes.next_page_number }}">Suivant</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="row">
        <div class="blog">
        {% for recette in recettes %}
            <div class="col-sm-4">
                <div class="blog-item">
                    <img class="img-responsive img-blog" src="/{{ STATIC_URL }}{{ recette.photo.url }}" alt=""/>
                    <div class="blog-content">
                        <h3>{{ recette.titre }}</h3>
                        <div class="entry-meta">
                            Note :
                            {% if recette.nb_notes == 0 %}
                                Aucune pour le moment.
                            {% else %}
                                {{ recette.note }}
                            {% endif %}
                            <br />{{ recette.nb_commentaires }} commentaire{% if recette.nb_commentaires > 1 %}s{% endif %}
                        </div>
                        <a class="btn btn-default" href="{% url 'recette:voir' recette.slug %}">Consulter <i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="row">
         <ul class="pagination">
            {% if recettes.has_previous %}
                <li><a href="?page={{ recettes.previous_page_number }}">Précédent</a></li>
            {% endif %}

            <li class="disabled"><a href="#">Page {{ recettes.number }} sur {{ recettes.paginator.num_pages }}</a></li>

            {% if recettes.has_next %}
                <li><a href="?page={{ recettes.next_page_number }}">Suivant</a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}