{% extends '_base.html' %}

{% block title %}Menu{% endblock %}
{% block nav_menu %}active{% endblock %}
{% block jumbotron_titre %}Menu{% endblock %}
{% block jumbotron_contenu %}Lisez les recettes par type ou par difficulté !{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Menu</li>
{% endblock %}

{% block contenu %}
        <div class="blog">
        {% if nb_recettes > 0 %}{% for recette in recettes %}
            <div class="col-sm-4">
                <div class="blog-item">
                    <img class="img-responsive img-blog" src="/{{ STATIC_URL }}{{ recette.photo.url }}" alt=""/>
                    <div class="blog-content">
                        <h3>{{ recette.titre }}</h3>
                        <div class="entry-meta">
                            Note :
                            {% if recette.nb_notes == 0 %}
                                Aucune pour le moment.
                            {% else %}
                                {{ recette.note }}
                            {% endif %}
                            <br />{{ recette.nb_commentaires }} commentaire{% if recette.nb_commentaires > 1 %}s{% endif %}
                        </div>
                        <a class="btn btn-default" href="{% url 'recette:voir' recette.slug %}">Consulter <i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}{% else %}
            <p>Aucune recette pour le moment.</p>
        {% endif %}
        </div>

{% endblock %}