{% extends '_base.html' %}
{% load widget_tweaks %}
{% block title %}Rechercher une recette{% endblock %}
{% block jumbotron_titre %}Rechercher{% endblock %}
{% block jumbotron_contenu %}Recherchez ici vos recettes selon plusieurs critères.{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Rechercher une recette</li>
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-sm-5">
            <form method="GET" action="" class="form-inline">
                <input type="hidden" name="recette_rechercher" value="{{ critere }}" />
                {% render_field formulaire_tri.ordre class+='form-control' style='width:250px' %}
                <button class="btn btn-primary" type="submit">Trier</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="blog">
            {% if nb_recettes > 0 %}{% for recette in recettes %}
                <div class="col-sm-4">
                    <div class="blog-item">
                        <img class="img-responsive img-blog" src="/{{ STATIC_URL }}{{ recette.photo.url }}" alt=""/>
                        <div class="blog-content">
                            <h3>{{ recette.titre }}</h3>
                            <div class="entry-meta">
                                Note :
                                {% if recette.nb_notes == 0 %}
                                    Aucune pour le moment.
                                {% else %}
                                    {{ recette.note }}
                                {% endif %}
                                <br />{{ recette.nb_commentaires }} commentaire{% if recette.nb_commentaires > 1 %}s{% endif %}
                            </div>
                            <a class="btn btn-default" href="{% url 'recette:voir' recette.slug %}">Consulter <i class="icon-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}{% else %}
                <p>Aucune recette trouvée !</p>
            {% endif %}
        </div>
    </div>
{% endblock %}