{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Consulter une recette - {{ recette.titre }}{% endblock %}
{% block jumbotron_titre %}{{ recette.titre}}{% endblock %}
{% block jumbotron_contenu %}
    Proposé par {{ recette.utilisateur.username }} le {{ recette.date_ajout }}
    {% if recette.date_modification %}
    (dernière modification le {{ recette.date_modification }})
    {% endif %}
{% endblock %}
{% block jumbotron_nav %}
	<li><a href="{% url 'recette:index' %}">Accueil</a></li>
	<li class="active">Consulter une recette</li>
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-sm-4">
            <p><img src="/{{ STATIC_URL }}{{ recette.photo.url }}" alt="{{ recette.titre }}" class="img-rounded img-responsive" /></p>
            <div class="panel panel-default">
                <div class="panel-heading">INGREDIENTS</div>
                <div class="panel-body">
                    {{ recette.ingredients|linebreaks }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">NOTE ATTRIBUE</div>
                <div class="panel-body">
                    {{ recette.note }} / 5
                    {% if not user.is_authenticated %}
                        <p>Vous devez être connecté pour voter !</p>
                    {% elif a_vote %}
                        <p>Vous avez déjà voté pour cette recette !</p>
                    {% else %}
                        <p>
                            <form method="post" action="{% url 'recette:noter' recette.slug %}">
                                <div class="form-group">
                                    {% render_field formulaire_note.note class+='form-control' placeholder='Note /5' %}
                                </div>
                                <button class="btn btn-primary" type="submit">Noter</button>
                                {% csrf_token %}
                            </form>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            {% if recette.date_modification %}
                <p>Dernière modification le {{ recette.date_modification }}</p>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if recette.type == 0 %}
                        <i class="icon-info"></i> Entrée
                    {% elif recette.type == 1 %}
                         <i class="icon-info"></i> Plat
                    {% else %}
                     <i class="icon-legal"></i> Dessert
                    {% endif %}&nbsp;&nbsp;
                    {% if recette.temps_preparation > 0 %}<i class="icon-time"></i> Préparation : {{ recette.temps_preparation }} min.{% endif %}
                    {% if recette.temps_cuisson > 0 %}<i class="icon-food"></i> Cuisson : {{ recette.temps_cuisson }} min. &nbsp;&nbsp;{% endif %}
                    {% if recette.temps_repos > 0 %}<i class="icon-adjust"></i> Repos : {{ recette.temps_repos }} min.&nbsp;{% endif %}
                    {% if recette.difficulte == 0 %}
                        <i class="icon-legal"></i> Difficulté : Facile
                    {% elif recette.difficulte == 1 %}
                         <i class="icon-legal"></i> Difficulté : Moyenne
                    {% else %}
                     <i class="icon-legal"></i> Difficulté : Difficile
                    {% endif %}&nbsp;&nbsp;
                    <i class="icon-eur"></i> {{ recette.cout }}
                </div>
                <div class="panel-body">
                    <h4>Etapes</h4>
                    {{ recette.etapes|linebreaks }}<br />
                </div>
            </div>
            {% if request.user %}
                <div class="panel panel-default">
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body">
                        {% if a_ajouter_au_carnet %}
                            Cette recette est dans votre carnet
                        {% else %}
                            <a class="btn btn-default" href="{% url 'carnet:ajouter_fiche' recette.slug %}">Ajouter au carnet</a>
                        {% endif %}
                        {% if request.user == recette.utilisateur %}
                        <a href="{% url 'recette:modifier' recette.slug %}" class="btn btn-primary">Modifier</a>
                        <a class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette recette ?')" href="{% url 'recette:supprimer' recette.slug %}">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Commentaires</strong></div>
        <div class="panel-body">
        {% for commentaire in commentaires %}
            <div class="well">
                <strong>{{ commentaire.utilisateur.username }}</strong>
                <small>{{ commentaire.date }}</small>
                <p>{{ commentaire.commentaire|linebreaks }}</p>
            </div>
        {% endfor %}
        {% if recette.nb_commentaires == 0 %}
            <p>Aucun commentaire pour le moment. Soyez le premier à ajouter un commentaire !</p>
        {% endif %}
        </div>
    </div>

    {% if recette.nb_commentaires > 0 %}
    <ul class="pagination">
            {% if commentaires.has_previous %}
                <li><a href="?page={{ commentaires.previous_page_number }}">Précédent</a></li>
            {% endif %}

        <li class="disabled"><a href="#">Page {{ commentaires.number }} sur {{ commentaires.paginator.num_pages }}</a></li>

            {% if commentaires.has_next %}
                <li><a href="?page={{ commentaires.next_page_number }}">Suivant</a></li>
            {% endif %}
    </ul>
    {% endif %}

    <h3>Ajouter un commentaire</h3>
    {% if not user.is_authenticated %}
        <p>Vous devez être connecté pour pouvoir commenter cette recette !</p>
    {% else %}
        <form method="POST" action="{% url 'recette:commenter' recette.slug %}">
            <div class="form-group">{% render_field formulaire_commentaire.commentaire class+='form-control' placeholder='Votre commentaire ici !' %}</div>
            <button class="btn btn-primary" type="submit">Commenter</button>
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock %}